/*basic reset*/
* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

html {
	height: 100%;
}


.erros, .ok{
	width: 390px;
	padding: 5px;
	background: rgba(239, 10, 10, 0.9);
	margin: 20px auto 0 auto;
	border: 1px solid white;
	border-radius: 4px;
	color: white;
	text-align: center;
}

.ok{
	background: #27AE60;
}

.erros p, .ok p{
	margin-bottom: 0;
}


/*form styles*/
#msform {
	width: 400px;
	margin: 40px auto;
	text-align: center;
	position: relative;
}

#msform fieldset {
	background: #EB560005;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px #EB5600;
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;

	/*stacking fieldsets above each other*/
	position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

/*inputs*/
#msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Poppins';
	color: #2C3E50;
	font-size: 23px;
}


/*headings*/
.fs-title {
	font-size: 25px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}

.fs-subtitle {
	font-weight: normal;
	font-size: 23px;
	color: #666;
	margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}

#progressbar li {
	list-style-type: none;
	color: #333;
	text-transform: uppercase;
	font-size: 12px;
	width: 33.33%;
	float: left;
	position: relative;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 35px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border: 1px solid #333;
	border-radius: 10px;
	margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #33333350;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1;
	/*put it behind the numbers*/
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
	background: #EB5600;
	color: white;
}

#msform label {
	cursor: auto;
	float: left;
	text-transform: capitalize;
	margin-top: 6px;
}