/*basic reset*/
* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
    border: none;
}

html {
	height: 100%;
}


.erros, .ok{
	width: 390px;
	padding: 5px;
	background: rgba(239, 10, 10, 0.9);
	margin: 20px auto 0 auto;
	border: 1px solid white;
	border-radius: 4px;
	color: white;
	text-align: center;
}

.ok{
	background: #27AE60;
}

.erros p, .ok p{
	margin-bottom: 0;
}


/*form styles*/
#msform {
	width: 400px;
	margin: 40px auto;
	text-align: center;
	position: relative;
}

#msform fieldset {
	background: #eb560005;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px #EB5600;
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;

	/*stacking fieldsets above each other*/
	position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

/*inputs*/
#msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Poppins';
	color: #2C3E50;
	font-size: 23px;
}

/*buttons*/
/* #msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
} */

/*headings*/
.fs-title {
	font-size: 25px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}

.fs-subtitle {
	font-weight: normal;
	font-size: 23px;
	color: #666;
	margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}

#progressbar li {
	list-style-type: none;
	color: #333;
	text-transform: uppercase;
	font-size: 12px;
	width: 33.33%;
	float: left;
	position: relative;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 35px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border: 1px solid #333;
	border-radius: 10px;
	margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #33333350;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1;
	/*put it behind the numbers*/
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
	background: #EB5600;
	color: white;
}

#msform label {
	cursor: auto;
	float: left;
	text-transform: capitalize;
	margin-top: 6px;
}
.t{
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

}
.inpt{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 175px;
}
.inpt >div{
flex: 50%;

	
}
.item{
	width: 100%;
}
.item input {
	width: 95%;
}
.item select {
	width: 95%;
}
.item textarea {
	margin-top: 5px;
	width: 95%;
	border-radius: 4px;
}

input[type='file'] {
    display: none;
}

.max-width {

    max-width: 225px;
    width: 100%;
	
}

#imgPhoto {
    width: 180px;
    height: 180px;
    padding:0px;
	margin: 0px;
	margin-left: 10px;
    cursor: pointer;
    transition: background .3s;
}


.btncancel{
	width: 413px;
height: 50px;
background: #CCCCCC;
border-radius: 15px;
}
.btnsave{
	width: 413px;
height: 50px;
	background: #1687F0;
border-radius: 15px;
}
.item2{
	display: flex;
	align-self: flex-end;
}