* {
    margin: 0;
    padding: 0;
}

.title {
    color: var(--bordBlack);
    text-align: left;
    font-weight: bold;
}

.sub-title {
    color: var(--bordBlack);
    text-align: left;
    font-weight: bold;
}

h1#unico {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline wavy var(--corPrim);
}

h1#titulo {
    margin: 20px 0;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline wavy var(--bordBlack);
}

h1#titulo::selection {
    color: white;
    background-color: var(--bordBlack)
}
h2 {
    text-decoration: underline wavy var(--corPrim);
}

.navbar {
    border-bottom: 1px solid var(--formBord);
    margin: 0;
}

.content-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 30px 0px 10px;
}

figure {
    display: flex;
    border: 1px solid #333333;
    border-radius: 50%;
    flex-direction: column;
}

figure img {
    height: 70px;
    width: 70px;
}

.tipo {
    display: flex;
    flex-direction: column;
    margin: 0 25px;
}

.conteudo {
    display: flex;
    flex-direction: row;
}

.item {
    margin-right: 20px;
}

.box-item {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 425px;
    background-color: var(--formBG);
    border: 1px solid var(--formBord);
    border-radius: 8px;
    padding: 10px;
    position: relative;
    box-shadow: 3px 3px 2px #6e6e6e;
}

.box-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 0 5px;
    width: 35%;
    max-width: 40%;

}

.box-item img {
    height: 100px;
    width: 100px;
}

img {
    border-radius: 6px;
}

.sub-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 60%;
    max-width: 60%;
}

.descricao {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.valor {
    height: 15%;
    text-transform: uppercase;
}

.fab {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
