* {
    margin: 0;
    padding: 0;
}

.title {
    color: #333;
    text-align: left;
    font-weight: bold;
}

.sub-title {
    color: #333;
    text-align: left;
    font-weight: bold;
}

h2 {
    text-decoration: underline wavy #EB5600;
}

.navbar {
    margin: 10px 0;
    justify-content: flex-end;
    border-bottom: 1px solid #ccd0d5;
}

.cont-form {
    margin-right: 2%;
    width: 400px;
}

.tipo {
    display: flex;
    flex-direction: column;
    margin: 0 25px;
}

.conteudo{
    display: flex;
    flex-direction: row;
}

.item{
    margin-right: 20px;
}

.box-item {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 500px;
    background-color: #f7f7f7;
    border: 1px solid #ccd0d5;
    border-radius: 8px;
    padding: 10px;
    position: relative;
    box-shadow: 3px 3px 2px rgb(110, 110, 110);
}

.box-img {
    display: flex;
    align-items: center;
    border: 1px solid #ccd0d5;
    border-radius: 8px;
    margin-right: 20px;
    padding: 0 10px;
}

.box-item img {
    height: 100px;
    width: 100px;
}

.sub-box{
    height: 100%;
}

.descricao {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.valor{
    height: 15%;
    text-transform: uppercase;
}