
    *{
        margin: 0px;
        padding: 0px;
 
    }

    a{
        text-decoration: none;
    }
    .caixalogin{
        display: flex;
    flex-direction: row;
    height: 100vh;
        width: 100vw;
    margin: 0px;
    flex-wrap: wrap;
    justify-content: flex-end;
    }
    .caixal{
    
    background-color:#EB5600;
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.caixaq{
    width:50%;
    height:100%;
}
.logologin{
    margin: 0px;
    margin-top:10%;
    margin-bottom: 10%;
}
.btngoogle{
    background-color:white;
    border-radius:15px;
    width: 364.75px;
height: 50px;

border:white;
filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25));

font-family: 'Poppins', sans-serif; 
font-style: normal;
font-weight: 600;
font-size: 24px;


text-align: center;

color: #6D6D6D;


}
.btnemail{
    background-color:white;
    border-radius:15px;

    border: #9B998F;
    width: 364.75px;
height: 50px;
background-color: #9B998F;

filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25));


font-family: 'Poppins', sans-serif; 
font-style: normal;
font-weight: 600;
font-size: 24px;


text-align: center;

color: #FFFFFF;

}
.textoentrar{

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;

display: flex;
align-items: center;
text-align: center;

color: #EBEBEB;
}

.textocadastro{
    font-family: 'Poppins', sans-serif; 
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 63px;

text-align: center;

color: #FFFFFF;

}

.textocadastro a{
    color:white;
}
.formlogin{

    height: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.linha{
    width: 13.71px;
height: 100%;
margin: 0px;
padding: 0px;
background: #EB5600;
border: 50px solid #EB5600;

align-self:flex-start;
}
.botoes{
    display:flex;
    flex-direction: column;
    height: 220px;
    justify-content: space-evenly;
    align-items: center;
    

}