*{
    margin: 0px;
    padding: 0px;    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

i{
    font-size: 26px;
}

.container {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    height: 500px;
    width: 800px;
    display: flex;
    flex-direction: row;
}

.botao{
    text-decoration: unset;
    font-size: 16px;
    color: #333333;
    background-color: transparent;
    border: 0;
    font-weight: bold;
}

.bi-qr-code-scan{
    font-size: 40px;
}

.box-scan{
    height: 100%;
    width: 300px;
    background-color: #e9ecefad;
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.scan{
    display: flex;
}

.botao:hover{
    color: black;
}

.box-formulario{
    height: 100%;
    width: 500px;
    background-color: #EB5600;
    color: white;
    padding: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.text-login{
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}

input{
    height: 35px;
    width:100%;
    border: 1px solid #ced4da;
    border-radius: 6px;
}

input:focus{
    outline: #333333;
    border: 1px solid ;
}

.passwd{
    margin-top: 20px;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.btn-confirm{
    height: 35px;
    width: 75%;
    border: 1px solid;
    border-radius: 4px;
    background-color: #333333;
    color: #EB5600;
    font-weight: 600;
}

.btn-confirm:hover{
    background-color: #EB5600;
    color: #333333;
}

.inpt{
    background: #FFFFFF;
border: 0.5px solid #9A9A9A;
box-sizing: border-box;
box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
