@import url('padroes.css');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

p {
    text-transform: lowercase;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: auto;
    height: 90%;
    width: 100%;
    background-color: var(--corPrim);
    border-radius: 8px;
}

.box-scan {
    height: 100%;
    width: 40%;
    background-color: var(--corTitle);
    display: flex;
    justify-content: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top: 2px solid var(--corPrim);
    border-bottom: 2px solid var(--corPrim);
}

.scan {
    display: flex;
}

.botao {
    text-decoration: unset;
    font-size: 32px;
    color: var(--bordBlack);
    background-color: transparent;
    border: 0;
    font-weight: bold;
}

.botao:hover {
    color: black;
}

.bi-qr-code-scan {
    font-size: 90px;
}

.box-formulario {
    height: 100%;
    width: 59%;
    color: white;
    padding: 0% 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 150px;
    height: 150px;
}

label {
    text-transform: uppercase;
    cursor: auto;
}

.entrada {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-center {
    text-align: center;
}

.invalid-feedback {
    font-size: 18px;
    color: var(--bordBlack);
}

.invalid {
    border-color: var(--bordBlack);
}