@import url('padroes.css');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

input {
    text-align: center;
}

label {
    font-size: 20px;
    font-weight: bold;
}

label:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: auto;
    height: 90%;
    width: 100%;
    background-color: var(--corPrim);
    border-radius: 8px;
}

.box-scan {
    height: 100%;
    width: 40%;
    background-color: var(--corTitle);
    display: flex;
    justify-content: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top: 2px solid var(--corPrim);
    border-bottom: 2px solid var(--corPrim);
}

.scan {
    display: flex;
}

.botao {
    border: 0;
    background-color: transparent;
    color: var(--bordBlack);
    font-size: 25px;
    font-weight: bold;
    text-decoration: unset;
    width: 25%;
}

.botao:hover {
    color: black;
}

.bi-qr-code-scan {
    font-size: 90px;
}

.box-formulario {
    height: 100%;
    width: 59%;
    color: white;
    padding: 0% 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
}


img {
    width: 100px;
    height: 100px;
}

.logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--tamImg) + 30px);
    width: calc(var(--tamImg) + 30px);

    border: 1px dashed #fefefe;
    border-radius: 50%;

}

.invalid-feedback {
    font-size: 18px;
    color: var(--bordBlack);
    text-decoration: underline wavy var(--formBG);
}

.invalid {
    border-color: var(--bordBlack);
}

.needs-validation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    color: var(--bordBlack);
    width: 100%;
}

.line{
    font-weight: bold;
    margin-top: 20px;
    text-decoration: underline wavy var(--bordBlack);
}