@import url('padroes.css');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

input {
    text-align: center;
}

label {
    font-size: 20px;
    font-weight: bold;
}

label:hover {
    cursor: pointer;
    text-decoration: underline;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: auto;
    height: 90%;
    width: 70%;
    background-color: var(--corPrim);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0% 5%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    width: 60%;
    row-gap: 25px;
}

img {
    width: 100px;
    height: 100px;
}

.logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--tamImg) + 30px);
    width: calc(var(--tamImg) + 30px);

    border: 1px solid #fefefe;
    border-style: solid dashed;
    border-radius: 50%;
}

.botao {
    border: 0;
    background-color: transparent;
    color: var(--bordBlack);
    font-size: 25px;
    font-weight: bold;
    text-decoration: unset;
    width: 40%;
}

.botao:hover {
    color: black;
}