* {
    margin: 0;
    padding: 0;
}

.navbar {
    margin: 10px 0;
    justify-content: flex-end;
    /* border: 1px solid; */
    border-bottom: 1px solid #ccd0d5;
}

.cont-form {
    margin-right: 2%;
    width: 400px;
}

