@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

:root{
    --corLink: #0a58ca;
    --formBord: #ccd0d5;
    --formBG: #f7f7f7;
    --bordBlack: #333333;
    --corPrim: #EB5600;
    --corTitle: #f8f9fa;
    --corOk: #27AE60;
    --corC: #ccc;
    --corFs: #2C3E50;
    --corBlue: #1687F0;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(to right, var(--corTitle), white);
    height: 100%;
}

.aform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

a {
    text-decoration: underline;
    color: var(--corLink);
}

a:hover {
    text-decoration: unset;
}

i {
    font-size: 16px;
}

i::before {
    align-self: flex-end;
}

p::first-letter {
    text-transform: capitalize;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 18px;
}

label{
    cursor: auto;
}



.form-control {
    height: 35px;
    width: 100%;
    border: 1px solid var(--formBord);
    border-radius: 6px;
    padding-left: 11px;
    background-color: var(--formBG);
    cursor: auto;
}


.form-control:focus {
    border-color: var(--corPrim);
    box-shadow: 0 0 0 0.25rem #EB560050;
    /* outline: var(--corPrim); */
}


input::placeholder {

    color: #6c757d;
}


select {
    height: 35px;
    width: 100%;
    border: 1px solid var(--corBordBlack);
    border-radius: 6px;
    padding-left: 11px;
}

select:focus {
    outline: var(--bordBlack);
    border: 1px solid;
}

/* titulo dos conteudos dos formularios.
OBS: Não é da aba */
.title {
    color: var(--corTitle);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.sub-title {
    color: var(--corTitle);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.sub-title {
    color: var(--corTitle);
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}


.btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    padding: 0;
}


.btn-primary {
    height: 40px;
    width: 100%;
    border: 1px solid transparent;
    outline: 0 none;
    border-radius: 4px;
    background-color: var(--bordBlack);
    color: white;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    margin-top: 10px;
}

.btn-primary:active {
    box-shadow: 0 0 0 0.25rem ;
    border: none;
}

.btn-primary:hover {
    background-color: var(--corPrim);
    color: var(--bordBlack);
    border: 1px solid var(--bordBlack);
    box-shadow: unset;
}

.btn-primary:focus {
    background-color: var(--bordBlack);
    color: var(--corPrim);
    box-shadow: unset;
}


.btn-second {
    height: 40px;
    width: 100%;
    border: 1px solid transparent;
    outline: 0 none;
    border-radius: 4px;
    background-color: gray;
    color: white;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 10px;
    text-transform: uppercase;
}

.btn-second:active {
    box-shadow: 0 0 0 0.25rem #ffc107;
    border: none;
}

.btn-second:hover {
    background-color: var(--corPrim);
    color: var(--bordBlack);
    border: 1px solid var(--bordBlack);
    box-shadow: unset;
}

.btn-second:focus {
    background-color: var(--corC);
    color: var(--corPrim);
    box-shadow: unset;
}

.label-input-form {
    width: 80%;
    margin-top: 10px;
    text-transform: capitalize;
    color: white;
    cursor: auto;
}


.nv-cadastro {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}