@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body {
    height: 100%;
}

.aform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

a {
    text-decoration: underline;
    color: #0a58ca;
}



a:hover {
    text-decoration: unset;
}

i {
    font-size: 16px;
}

i::before {
    align-self: flex-end;
}

input:not([type=submit], [type=button]){
    height: 35px;
    width: 100%;
    border: 1px solid #ccd0d5;
    border-radius: 6px;
    padding-left: 11px;
}

input:focus {
    outline: #333333;
    border: 1px solid;
}

input::placeholder {

    color: #333333;
}


select {
    height: 35px;
    width: 100%;
    border: 1px solid #ccd0d5;
    border-radius: 6px;
    padding-left: 11px;
}

select:focus {
    outline: #333333;
    border: 1px solid;
}

/* titulo dos conteudos dos formularios.
OBS: Não é da aba */
.title-form {
    color: #f8f9fa;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.btn {
    padding: 0;
}


.btn-primary {
    height: 40px;
    width: 100%;
    border: 1px solid transparent;
    outline: 0 none;
    border-radius: 4px;
    background-color: #333333;
    color: white;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    margin-top: 10px;
}

.btn-primary:active{
    box-shadow: 0 0 0 0.25rem #ffc107;
    border:none;
}

.btn-primary:hover {
    background-color: #EB5600;
    color: #333333;
    border: 1px solid #333333;
}

.btn-primary:focus {
    background-color: #333333;
    color: #EB5600;
}


.btn-second {
    height: 40px;
    width: 100%;
    border: 1px solid transparent;
    outline: 0 none;
    border-radius: 4px;
    background-color: gray;
    color: white;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 10px;
    text-transform: uppercase;
}

.btn-second:active{
    box-shadow: 0 0 0 0.25rem #ffc107;
    border:none;
}

.btn-second:hover {
    background-color: #EB5600;
    color: #333;
    border: 1px solid #333333;
}

.btn-second:focus {
    background-color: #ccc;
    color: #EB5600;
}

.label-input-form {
    width: 80%;
    margin-top: 10px;
    text-transform: capitalize;
    color:white;
}