@import url('padroes.css');

.imgHead{
    border-radius: 6px;
    font-size: 60px;
    height: 100px;
    width: 125px;
}

.imgPhoto{
    border-radius: 6px;
    font-size: 60px;
    height: 75px;
    width: 75px;
}

.img{
    display: flex;
    border-radius: 6px;
    max-width: 40%;
    margin: 5px;
}

.formulario > *{
    margin-bottom: 20px;
}


.button-form{
    justify-content: space-evenly;
    margin: 10px 0px 30px 0px;
}

hr{
    color: var(--corPrim);
    margin: 30px 0px;
    text-align: center;
    width: 100%;
}

hr:not([size]){
    height: 2px;
}

h1{
    font-weight: bold;
    text-transform: capitalize;
}

h2{
    font-weight: bold;
    text-decoration: underline wavy var(--corPrim);
    text-transform: capitalize;
}

.conteiner-fluid{
    margin: 0px 50px;
}

.listagem{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.conteudo{
    min-width: 250px;
    width: 27%;

    min-height: 100px;
    max-height: 300px;

    border: 1px solid var(--corPrim);
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.cadastro{
    width: 100%;
    justify-content: space-around;
}

.sep{
    width: 90%;
}

.acoes{
    display: flex;
    justify-content: space-around;
    
    width: 100%;
    height: 50px;
}