@import url('padroes.css');

:root {
    --sizeImg: 75px;
}

p {
    margin-bottom: .5rem;
}

#upPage {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 5%;
    right: 5%;
    border-color: #333;
}

#upPage:hover {
    box-shadow: 0 .25rem 2rem var(--corPrim);
}

.bi-arrow-up-circle-fill {
    font-size: 50px;
    width: 100%;
    height: 100%;
    color: var(--corPrim);
}

header {
    row-gap: 20px;
}

.imgPhoto {
    border-radius: 6px;
    font-size: 60px;
    height: var(--sizeImg);
    width: var(--sizeImg);
}

.img {
    display: flex;
    border-radius: 6px;
    max-width: 40%;
    margin: 5px;
}

.formulario {
    row-gap: 20px;
}

.input-group-text {
    border-radius: 6px 0 0 6px;
}

.line-two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-form {
    justify-content: space-evenly;
    margin: 10px 0px 30px 0px;
}

hr {
    color: var(--corPrim);
    margin: 30px 0px;
    text-align: center;
    width: 100%;
}

hr:not([size]) {
    height: 2px;
}

h1 {
    font-weight: bold;
    text-transform: capitalize;
}

h2 {
    font-weight: bold;
    text-decoration: underline wavy var(--corPrim);
    text-transform: capitalize;
}

.textarea {
    height: calc(3em + 1rem + 2px);
}

.conteiner-fluid {
    margin: 0px 50px;
}

.listagem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    row-gap: 40px;
}

.cadastro {
    width: 100%;
    justify-content: space-around;
}


.cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    row-gap: 20px;
    column-gap: 20px;
}

.conteudo {
    min-width: 250px;
    width: 350px;

    min-height: 200px;
    max-height: 300px;
    height: 200px;
    background-color: var(--corPrim);
    border: 1px solid var(--corPrim);
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.conteudo>* {
    justify-content: center;
    align-items: center;
}

.conteudo:hover {
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
}

.tipo h1 {
    text-transform: uppercase;
}

.produto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 140px;
    width: 90%;
}

.informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    margin: 0px 10px;
    width: calc(100% - var(--sizeImg));
}

.informacoes>* {
    text-align: center;
    width: 100%;
}

.nome {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline wavy var(--corPrim);
}

.sep {
    margin: 10px 0px;
    height: 2px;
    width: 90%;
}


.descricao {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

}

.acoes {
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;
}

.item hr {
    color: white;
}

figure {
    cursor: pointer;
}


/* REGRAS */
@media screen and (max-width:840px) {
    .line-two {
        flex-direction: column;
        row-gap: 15px;
    }

    /* #basic-addon1 {
        border-radius: 6px;
    } */

    div.content-produto {
        width: 58.33333333%;
    }

    div.content-tipo,
    div.content-preco {
        width: 41.66666667%;
    }
}
