@import url('padroes.css');

:root {
    --sizeImg: 75px;
}



.imgPhoto {
    border-radius: 6px;
    font-size: 60px;
    height: var(--sizeImg);
    width: var(--sizeImg);
}

.img {
    display: flex;
    border-radius: 6px;
    max-width: 40%;
    margin: 5px;
}

.formulario {
    row-gap: 20px;
}


.button-form {
    justify-content: space-evenly;
    margin: 10px 0px 30px 0px;
}

hr {
    color: var(--corPrim);
    margin: 30px 0px;
    text-align: center;
    width: 100%;
}

hr:not([size]) {
    height: 2px;
}

h1 {
    font-weight: bold;
    text-transform: capitalize;
}

h2 {
    font-weight: bold;
    text-decoration: underline wavy var(--corPrim);
    text-transform: capitalize;
}

.conteiner-fluid {
    margin: 0px 50px;
}

.listagem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    row-gap: 20px;
    column-gap: 20px;
}

.listagem:last-child {
    justify-content: left;
}


.cadastro {
    width: 100%;
    justify-content: space-around;
}

.conteudo {
    min-width: 250px;
    width: 400px;

    min-height: 200px;
    max-height: 300px;

    border: 1px solid var(--corPrim);
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.conteudo>* {
    justify-content: center;
    align-items: center;
}

.conteudo:hover{
    box-shadow: 0 0 10px 1px var(--corPrim);
}

.produto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 140px;
    width: 90%;
}

.informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    margin: 0px 10px;
    width: calc(100% - var(--sizeImg));
}

.under {
    text-decoration: underline;
}

.nome {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline wavy var(--corPrim);
}

.tipo_valor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;

}

.sep {
    margin: 10px 0px;
    height: 2px;
    width: 90%;
}

.descricao-content {
    text-align: center;
}

.descricao {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.acoes {
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;
}